body, html {
  height: 100%;
  margin:0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight:400;
  line-height:1.8em;

  background-color: #282828;
  background-color: #000;


  scroll-behavior: smooth;
}

/* LOGO BAR */

.bimg{
  background-image:url('../img/mainpic.jpg');
  min-height: 10%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .75;
  padding: 1em 1em 1em 1em;
}

.headerbox{
  position:absolute;
  top:5%;
  width:100%;
  text-align: center;
  color:#000;
  font-size: 27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.headerbox .border {
  background-color: #111;
  color:#fff;
  padding: 0.9em;
}
#title1 {
  color:#f5c925;
}
#title2 {
  font-weight: bold;
}
.headerbox .border:hover{
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.4), 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
}
.headerbox a{
  text-decoration: none;
}

/* Navigation Bar */

.nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #000;
  min-height:10px;
}
.btn {
  display: inline-block;
  background: #404041;
  color:#fff;
  text-decoration: none;
  padding: .2em .2em;
  border: 1px solid #333;
  margin: .1em ;

  text-align:center;
  font-weight:bold;
  font-size: 170%;
  text-transform: uppercase;
}
.btn:hover {
  background: #e5bc24;
  color: #000;
}

/* SIDE NAV BAR */

.navbar2{
  top: 30%;
  position:fixed;
  background-color: #ededed;
  background-color:  #f5c925;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left:0;
  transition: 0.3s;

}
.navbar2:hover{
  width: 100px;
  padding-left: 10px;
}
.contentbar{
  background-color: #404041;
  border: 1px solid #000;
  margin: 4px;
  width: 90px;
  height: 30px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

  text-align: center;
  margin-left:0.4px;
}
.contentbar a{
  text-decoration: none;
  color: #fff;
  padding: .5em;
  font-weight: bold;
}
.contentbar:hover{
  background-color: #e5bc24;
  background-color: #ededed;
}

.contentbar:hover a{
  color: #000;
}

/* BACK TO TOP */
.totop {
  position:fixed;
  background: #000;
  width: 70px;
  height:70px;

  top:90%;
  right:5%;

  border-radius: 5px;

  text-align:center;
  transition: 0.3s;
}
#arrow{
  padding-top: 10%;
  color: #e5bc24;
  margin:0;
  font-size: 250%;
}
#message{
  padding:0;
  margin:0;
  font-size: 90%;
  color:#fff;
}
.totop:hover{
  font-size: 110%;
  width: 75px;
  height:75px;

  right:4.7%;
  top:89.5%;
}

/* -------------------------- MAIN CONTENT --------------------------------- */

/* MAIN */

.main{
  margin: 2% 20%;
  padding: 1% 1%;
  background-color:#282828;
  color: #fff;
}

/* BACKGROUND IMAGE */
.background{
  min-height: 25em;

}

.img1{
  min-height:inherit;
  min-width:auto;
  position:relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.blur{
  position: absolute;
  width:100%;
  height:100%;
  background-color: #000;
  opacity: 0;
  transition: 0.3s
}
.img1:hover > .blur{
  opacity:0.4;
}
.img1:hover > .title{
  transform: scale(1.1);
}

/* TITLE */

.title{
  position: absolute;
  width:100%;
  height:100%;
  text-align: center;

  color:#fff;
  text-shadow: 4px 4px #333;
  font-size: 200%;
  line-height: normal;

  padding-top:3em;
  transition: 0.3s;
}

/* TEXT CONTENT */

.text{
  margin-top: 1em;
}

.summary{
  background-color: #666;
  background-color: #f5c925;
  padding: 0 1em;
}

.Items{
  background-color: #666;
  background-color: #f5c925;
  padding: 0 1em;
}

.setup{
  background-color: #666;
  background-color: #f5c925;
  padding: 0 1em;
}

.rules{
  background-color: #666;
  background-color: #f5c925;
  padding: 0 1em;
}

.contenthead{
  padding-top:1em;
  margin:0;
  text-decoration:underline;
  color: #2f3133;
  text-align: center;

}
.content{
  color: #000;
  padding-top: 0;
  line-height: 1.4em;
  padding-bottom: 1em;
}
.text ul{
  padding-top:0;
  margin-top: 0;
}





@media(max-width:650px){
  .main{
    margin:0;
    padding:0;
  }
  .navbar2{
    display:none;
  }
  .totop{
    display:none;
  }
}
