body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family: "lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  background-color: #000;
  scroll-behavior: smooth;
}

body{
  overflow-x:hidden;
}


/* Background*/
.pimg1{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;

  background-image:url('../img/mainpic.jpg');
  min-height:100%;

  position:relative;

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;

  opacity: 0.8;
}

/* LOGO */

#logo1{
  opacity:0.7;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

@media(max-height: 520px){
  #logo1{
    display:none;
  }
}
@media(max-width:650px){
  #logo1{
    width:100%;
  }
}
/* Pissed City Box */

#title1 {
  color:#f5c925;
}
#title2 {
  font-weight: bold;
}
.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align: center;
  color:#000;
  font-size: 27px;
  letter-spacing:8px;
  text-transform:uppercase;
}
.ptext .border{
  background-color: #111;
  color:#fff;
  padding:20px;
}
.ptext .border:hover{
  box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 255, 255, 0.4);
}
.ptext a{
  text-decoration: none;
}

/* notfication */
.notifcation{
  background-color: #ddd;
  width: 50em;
  padding:1em;
  position: absolute;
  top: 30%;
  left: 28%;
  background-color: #222;
}

.notfication a, .notheader a, .notContent a, .notDetails a{
  text-decoration: none;
}
.notheader a{
  color:#f5c925;
}

.notheader{
  display:grid;
  grid-template-columns: 90% 10%;
}
.notheader button{
  border:none;
  background-color: #222;
  font-size: 180%;
  cursor: pointer;
}
.notheader button:focus {outline:0;}

.notContent{
  display:grid;
  grid-template-columns: 40% 60%;
}
.notDetails h3{
  color: #aaa;
}
.notDetails p{
  color: #ddd;
}
.notContent img{
  width: 16em;
  height:auto;
}

/*Website Coming Soon */

.websitenotice{
  background-color: #222;
  width: 40em;
  position: absolute;
  top: 30%;
  left: 32%;
  padding: 1em;
  border: 2px double #000;
}
.websitenotice h2{
  color:#f5c925;
}
.websitenotice p{
  color: #ddd;
}
.websitenotice a{
  color: #ddd;
}











@media(max-width:950px){
  .nav{
    display:none;
  }
  .mobile_header{
    display: block;
  }
}
@media(max-width:650px){
  .information{
    display: block;
  }
  .aboutus{
    margin:0;
    padding: 0;
  }
  .supportus{
    margin:0;
    padding:0;
  }
  .Search{
    width:80%;
  }
}

/* FOOTER */
/*Section 1*/
.footer{
  margin-top: 1em;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-1{
  text-align: center;
  padding-left: 2em;
  color: #fff;
}
.section-1 h3, .section-3 h3{
  text-decoration: underline;
}
.email-news input{
  border:none;
  font-size: 108%;
  padding: 0.5em;
  width: 20em;
}
.email-news button{
  border:none;
  font-size: 108%;
  padding: 0.5em;
  font-weight: bold;
  color: #f5c925;
  background-color: #333;
  cursor: pointer;
}
.email-news button:hover{
  background-color: #222;
  color: #ffc705;
}
.email-news button:focus {outline:0;}
.social-links img{
  height: 4.5em;
  width:auto;
  filter: brightness(0.6);
}
.social-links img:hover{
  filter: brightness(1);
}
.social-links a{
  text-decoration: none;
}
.section-1,
.email-news{
  filter: brightness(0.6);
}
.section-1:hover,
.email-news{
  filter: brightness(1);
}

/*Section 2*/
.section-2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color:#fff;
  filter: brightness(0.6);
}
.section-2 a{
  color:#fff;
}
.inner-section2{
  padding-left: 5em;
  padding-right: 5em;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
}
.section-2 h3{
  padding-top: 1em;
  font-size: 2em;
  color: #f5c925;
  font-weight: normal;
}
.section-2 h3 span{
  color: #fff;
  font-weight: bold;
}
.section-2:hover{
  filter: brightness(1);
}

/*Section 3*/


.section-3{
  margin-left: 7em;
}
.section-3,
.section-3 a{
  color: #fff;
  filter: brightness(0.6);
}
.section-3:hover,
.section-3 a{
  filter: brightness(1);
}


@media(max-width:650px){
  .footer{
    display: block;
  }
  .section-1,
  .section-2,
  .section-3{
    text-align: center;
    padding:0 0.5em;
    margin: 0;
    border: 1px solid #fff;
  }
.section-3 table{
  margin-left: auto;
  margin-right: auto;
}
.section-3 h3{
  margin: 0;
}

}
